# Core Data Science

numpy
pandas
openpyxl

# Visualization

matplotlib
graphviz

# Machine Learning

scikit-learn
xgboost

# Notebook Development

jupyter

# UI

streamlit

# Utilities

python-dotenv

# Testing

pytest